body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the body */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style the header section */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
    padding-left: 10px;
  }

  section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  